.form-button {
  /* background-color: rgb(57 255 20 / var(--tw-bg-opacity, 1)); */
  font-size: 30px;

  color: white;
  /* border: rgb(57 255 20 / var(--tw-bg-opacity, 1)) solid 1px; */
  text-decoration-line: underline;
  text-underline-offset: 0.3em;
  text-decoration-color: rgb(57 255 20 / var(--tw-bg-opacity, 1));
  padding: 14px 20px;
  margin: 8px 0px 1px;
  cursor: pointer;
  width: auto;
  font-weight: bold;
}

.py-16 {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.teamcontainer {
  padding: 30px;
}

.button-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}


.welcome {
  display: flex;
  justify-content: space-between;
}